html, body {
    position: relative;
    height: 100%;
}
body {
    background-color: #fafafa;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
header{
    background-color: red;
    text-align: center;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.swiper-container {
    width: 100%;
    height: 60%;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide {
   width: 100%;
   height: 79%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #d2d2d2;
}
p {
    width: 80%;

}

.background{
    background-color: #8a8585;
    
}
.img-div{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

}

.img-title{
    width: 100%;
    height: 188px;
    background-position: center;
    background-size: cover;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
.headlines {
    margin: 10px;
}
.news-card{
   min-width: 250px;
   height: 282px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
   flex: 1 1 160px;
   margin: 15px;
   transition: 1s;
    

}
.container-main {
    display: flex;
    flex: 1 1 250px;
    flex-wrap: wrap;
    margin-top: 18px;
}
.channel-name {
    display: inline-block;
    margin: 2px 10px 10px 10px;
    color: #006621;
}
.date {
    display: inline-block;
    color: #006621;

}
.news-card:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
